data/*
scripts/*
word2Vec/word2VecModel
word2Vec/word2VecModel.trainables.syn1neg.npy
word2Vec/word2VecModel.wv.vectors.npy

# js
node_modules
package-lock.json

# IDE
.idea
.ipynb_checkpoints/
.DS_Store
__pycache__/

